* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: white;
}

h1 {
  color: red;
  font-size: 35px;
  font-family: monospace;
  text-align: center;
  padding-top: 20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;
}

.cartoon-box img {
  /*   width: 300px;
    height: 150px;
    object-fit: cover;
    object-position: middle;*/
  display: none;
}

.cartoon-box {
  height: 150px;
  width: 300px;
  background-color: cornflowerblue;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.mystery-button {
  background-color: #ff4500;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.mystery-button:hover {
  background-color: #e63900;
}
